.git
.github
node_modules
dist
out
coverage
data
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
.env
.env.*
.DS_Store
.idea
.vscode
screenshots
*.md
!README.md
*.tgz
*.log
.changeset/*.md
!.changeset/README.md
!.changeset/config.json
